.App {
  text-align: center;
  background-color: rgb(23, 23, 27);
  color: azure !important;
  min-height: 100vh;
}
/* styling header */
header {
  display: flex;
  margin: 0;
  width: 100%;
  padding: 0.5rem;
}

#header-navigation-list {
  margin: 0;
  display: flex;
  list-style: none;
}

a {
  color:  azure !important; 
  text-decoration: none !important;
}

.header-navigation-link {
  margin: 0.5rem;
  padding: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  align-items:center;
  background-color: rgba(83, 83, 84, 0.315);
  border-radius: 10px;
}

.header-navigation-link:hover {
  background-color: rgba(122, 122, 136, 0.533);
}


/* styling login */
#login-container {
  display: flex;
  justify-content: center;
}

#login-input{
  max-width: fit-content;
}


/* styling product page */

#total-price-container{
  position:absolute;
  left: 90vw;
  width: fit-content;
}

#total-price{
  font-size: large;
}

#product-list {
  width: 100;
  display: flex;
  flex-wrap: wrap;
  padding-left: 5vw;
  padding-right: 5vw;
  justify-content: center;
  max-width: 80%;
  align-items: stretch !important;
}

.product-card{
  margin: 3%;
  background-color: rgb(250, 243, 243) !important;
}

.product-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
  flex: 0 0 auto;
  /* margin: 3px; */
  position: relative;
}

.product-list-title{
  color: antiquewhite !important;
}

#product-component{
  display: flex;
 justify-content: center;
}

.card-description {
  color: rgb(0, 0, 0);
  width: 250px;
  height: min-content !important;
  text-align: left;
  text-justify:distribute;
  font-weight: 400;

}

.card-footer{
  display: flex !important;
  justify-content:space-evenly;

}

.price {
  font-size: 3rem !important;
}

.yellow {
  background-color: rgb(255, 252, 61) !important;
}

.green {
  background-color: rgb(6, 240, 61) !important;
}

.red {
  background-color: rgb(228, 10, 10) !important;
}

/* stylign about */

.about-container {
  padding: 5%;
  background-color: rgb(250, 243, 243) ;
  color: black;
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 30% 70%;
  grid-gap: 3%;
  justify-content: center;

}

#logo {
  width: 50%;
  height: 50%;
  padding: 2%;
}

#about-description {
  width: 90%;
  max-width: fit-content;
  height: fit-content;
  text-align: justify;
}

.figure-img {
  width: 40vw;
  height: 30%;
  object-fit: cover;
  object-position: 50% 50%;
  flex: 0 0 auto;
  padding: 2vw;
}

#images {
  padding-top: 1%;
  display: flex;
  justify-content: center;
}
.about-photo-caption {
  color: aliceblue !important;
}